{%extends 'base.html'%}
{%load static%}

{%block content%}


<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/chmm.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Differential Equations</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <h1>Reactions</h1>

            <ul>
                {% for key,value in elements.items%}

                <li>
                    <p>
                        $${{value|slice:"0:1"}}_{{value|slice:"1:"}} = {{key}}$$
                    </p>
                </li>
                {%endfor%}
            </ul>


            <!-- Diffs - 1 -->
            <ul>
                {% for key,value in diffs_1.items%}

                <li>
                    <p>
                        $$ {{key}} = {{value}}$$
                    </p>
                </li>

                {%endfor%}
            </ul>

            <!-- Diffs 2  -->
            <ul>
                {% for key,value in diffs_2.items%}
                <li>
                    <p>
                        $$ \frac{\text{d}({{key}})}{\text{d}t} = {{value}}$$
                    </p>
                </li>

                {%endfor%}
            </ul>


            <!-- Diffs 3  -->
            <ul>
                {% for key,value in diffs_3.items%}
                <li>
                    <p>
                        $$ \frac{\text{d}({{key}})}{\text{d}t} = {{value}}$$
                    </p>

                </li>

                {%endfor%}
            </ul>
        </div>
    </div>
</div>
<!-- Elements -->

<!-- Plot image -->
<form action="{% url 'show_reaction' reaction_id %}" method="post">
    {% csrf_token %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">


            {%for key, value in elements.items%}
            <!-- get the values of x,y,z and t-->
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="form-floating">
                    <input class="form-control" id="x" name="param_{{key}}" type="text"
                        placeholder="Enter value for {{key}}" />
                    <label>Enter value for {{key}}</label>
                </div>
            </div>

            {%endfor%}
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">PLOT THE
                        GRAPH in 3D</button></div>
            </div>
        </div>
    </div>
</form>


<!-- Plot image -->
<div>
    <img src="plot.png" style="width: 1000px; height: 1000px;">
</div>


{%endblock%}